body, html {
  margin: 0;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  min-height: 100vh;
  padding: 0 20px;
  max-width: 100vw;
}

.songs_container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.input_div {
  display: flex;
  flex-direction: row;  
  margin: 20px;
}

.input {
  padding: 10px;
  border: none;
  border-radius: 10px 0 0 10px;
  width: 100%;
  font-size: large;
}

.input:hover {
  outline: none;
}

.logo_container {
  background-color: aquamarine;
  right: 0;
  position: relative;
  border-radius: 0 10px 10px 0;
  display: flex;
  align-items: center;
  align-content: center;
  padding: 3px;
}

.logo {
  width: 50px; 
}

@media (min-width: 600px) {

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    min-height: 100vh;
    padding: 0 20px;
    max-width: 100vw;
  }
  .input_div {
    display: flex;
    flex-direction: row;  
    width: 30vw;
  }

  .songs_container {
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
  }
}

@media (min-width: 1000px) {

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    min-height: 100vh;
    padding: 0 20px;
    max-width: 100vw;
  }
  .input_div {
    display: flex;
    flex-direction: row;  
    width: 30vw;
  }

  .songs_container {
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
  }
}

@media (min-width: 1300px) {

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    min-height: 100vh;
    padding: 0 50px;
    max-width: 100vw;
  }
  .input_div {
    display: flex;
    flex-direction: row;  
    width: 30vw;
  }

  .songs_container {
    grid-template-columns: repeat(5, 1fr);
    padding: 20px;
  }
}