.container {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  min-height: 100vh;
}

.song {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.album_list {
  background-color: #7D19E1;
  border-radius: 10px;
  font-weight: 100;
  font-size: medium;
}

.track {
  font-weight: 100;
  font-size: large;
  text-overflow: ellipsis;
  overflow: hidden;
}

.track_container {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.track_img {
  border-radius: 10px;
  align-self: center;
}

.error_container {
  background-color: black;
  min-height: 100vh;
  color: white;
  padding: 100px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.name_track {
  color: aqua;
}

.name_dontainer {
  display: flex;
  flex-direction: row;
}

.album_data {
  display: flex;
  flex-direction: row;
}